node_modules
npm-debug.log
dist
.git
.gitignore
.github
.vscode
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
README.md
DEPLOYMENT.md
E2EE*.md
.expo
.gradle
android/build
ios/Pods
